Using `pyvenus96`

In [1]:
import pyvenus96

In [2]:
# read the VENUS96 output file
path = "ch4.out"
dic = pyvenus96.venus96_to_dict(path)

dic

{'Time': array([0.000e+00, 1.000e-02, 2.000e-02, ..., 9.998e+01, 9.999e+01,
        1.000e+02]),
 'Kinetic En.': array([75.85175734, 58.47269076, 55.44801231, ..., 52.37274595,
        69.24242308, 69.53130694]),
 'Potential': array([37.16412017, 54.54318633, 57.56786478, ..., 60.6415044 ,
        43.77182728, 43.482943  ]),
 'Total Energy': array([113.01587751, 113.01587709, 113.01587709, ..., 113.01425035,
        113.01424994, 113.01424994])}

In [3]:
# get the unts
unit_dict = pyvenus96.get_unit_dictionary(path)

unit_dict

{'Time': 'ps',
 'Kinetic En.': 'kJ/mol',
 'Potential': 'kJ/mol',
 'Total Energy': 'kJ/mol'}

Using `panvenus96`

In [4]:
import panvenus96

In [5]:
# read the VENUS96 output file
path = "ch4.out"
df = panvenus96.venus96_to_df(path)

df

          Time  Kinetic En.  Potential  Total Energy
0.00      0.00    75.851757  37.164120    113.015878
0.01      0.01    58.472691  54.543186    113.015877
0.02      0.02    55.448012  57.567865    113.015877
0.03      0.03    51.757851  61.258026    113.015877
0.04      0.04    43.408522  69.607355    113.015877
...        ...          ...        ...           ...
99.96    99.96    69.914766  43.099484    113.014250
99.97    99.97    61.327856  51.686394    113.014250
99.98    99.98    52.372746  60.641504    113.014250
99.99    99.99    69.242423  43.771827    113.014250
100.00  100.00    69.531307  43.482943    113.014250

[10001 rows x 4 columns]

In [6]:
# get the units
unit_dict = panvenus96.get_unit_dictionary(path)
unit_dict

{'Time': 'ps',
 'Kinetic En.': 'kJ/mol',
 'Potential': 'kJ/mol',
 'Total Energy': 'kJ/mol'}